body{
    background-color:thistle;
}
h4{
    color: rgb(99, 38, 99); 
}
h2,h3{
    color:white;
}
p{
margin: 20px
}
footer > .lisence{
 box-shadow: 2px 3px 3px  rgb(99, 38, 99); 
 background-color:rgb(223, 112, 223);
}


